body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

h1, h2 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3, h4 {

  font-weight: normal;
  color: #686868;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 2rem;
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
  color: rgb(115,115,115);
  letter-spacing: 0.04px;
  line-height: 24px;
  word-break: break-word;
}

p:last-of-type {
  margin-bottom: 0;
}

main {
  max-width: 685px;
  margin: auto;
}

article {
  margin-right: 9rem;
  margin-left: 1rem;
}

label {
  color: #686868;
  font-weight: normal;
}

footer {
  background-color: #a5a5a540;
}

form {
  width: 550px;
}

#logo {
  padding: 2rem 1rem;
}

/* nav */

ul {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
}

a {
  color: black;
}

li a {
  font-size: 18px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.nav-break {
  padding: 0 5px;
  color: lightgray;
}

/* form */

textarea {
  height: 200px;
}

 /* flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-row-l-col-s {
  flex-direction: column;
}

@media screen and (min-width: 850px){
  main {
      max-width: 830px;
  }

  .flex-row-l-col-s {
    flex-direction: row;
  }

}

/* margins */

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* padding  */

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pl-5 {
  padding-left: 5rem;
}

/* divider images */

.divider {
  height: 150px;
  background-color: #ffffff57;
  background-blend-mode: lighten;
}

#divider-image-1 {
  background-image: url(./img/div-1.jpg);
  background-size: cover;
}

#divider-image-2 {
  background-image: url(./img/div-2.jpg);
  background-position: initial;
}

#divider-image-3 {
  background-image: url(./img/div-2.jpg);
  background-position: bottom;
}